body{
    background-image:linear-gradient(45deg,#6E4079,#F92C77);
    font-family:"Poppins", "Arial", "Helvetica Neue", sans-serif;
}
.main{
    background-color:#FFFFFF;
    padding:30px 40px 30px 30px;;
    width: 550px;
    height: 650px;
    position: absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    margin: auto;
    border-radius:15px;
    font-size: 18px;
    color: #555;
    
}
.ibox{
    line-height: 40px;
    border-radius:5px;
    font-size: 16px;
    width: 300px;
}
.align{
    float:right;
}
#err_fname,#err_id, #err_dob, #err_phone, #err_pass, #err_gender{
    font-family: 'Teko', sans-serif;
}
.nwd{
    width: 147px;
    line-height: 40px;
    border-radius:5px;
    font-size: 16px;
}
.fname{
    margin-right:3px;
}
.lname{
    margin-left:3px;
}
.back{
    text-decoration: none;
    background: #4272d7;
    line-height: 40px;
    padding:10px 20px;
    transition:0.4s;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    border-radius: 5px;
}
.btn{
    background: #4272d7;
    line-height: 40px;
    padding: 0 50px;
    transition:0.4s;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 5px;
    float: right;
    
}
.btn:hover{
    background-color:#3868CD;
}
label{
    line-height: 40px;
}